dataset/known_faces/Dương Minh Quân.JPG
dataset/known_faces/Lê Duy Quang.JPG
dataset/known_faces/me.jpg
dataset/known_faces/Nguyễn thị Vân Anh.JPG
dataset/known_faces/Phạm Hoàng Giang.JPG

dataset/unknown_faces/video
dataset/unknown_faces/IMG_0153.HEIC
dataset/unknown_faces/IMG_0153.jpg
dataset/unknown_faces/IMG_1156.JPG
dataset/unknown_faces/IMG_1284.JPG
dataset/unknown_faces/IMG_2132.JPG
dataset/unknown_faces/IMG_2200.JPG
dataset/unknown_faces/IMG_2371.JPG
dataset/unknown_faces/IMG_9563.JPG
/attendence_face/dataset/
/core/
/utilis/
/main.py
.idea
cv2
np
os
test-out.avi
/face_recognition_1/
