dataset/known_faces/Dương Minh Quân.JPG
dataset/known_faces/Lê Duy Quang.JPG
dataset/known_faces/me.jpg
dataset/known_faces/Nguyễn thị Vân Anh.JPG
dataset/known_faces/Phạm Hoàng Giang.JPG

dataset/unknown_faces/video
dataset/unknown_faces/IMG_0153.HEIC
dataset/unknown_faces/IMG_0153.jpg
dataset/unknown_faces/IMG_1156.JPG
dataset/unknown_faces/IMG_1284.JPG
dataset/unknown_faces/IMG_2132.JPG
dataset/unknown_faces/IMG_2200.JPG
dataset/unknown_faces/IMG_2371.JPG
dataset/unknown_faces/IMG_9563.JPG
/attendence_face/dataset/train_fol
/core/
/utilis/
/main.py
.idea
cv2
np
os
test-out.avi
/face_recognition_1/
/dataset/test-2.xlsx
/dataset/test-df.xlsx
/dataset/train_fol/
/dataset/known_faces/me_2.png
/dataset/known_faces/Nguyễn Ngọc Lâm.jpg
/opencv_demo/
/3d_demo/MOVIE.mp4
/3d_demo/MVI_0621.MOV
/3d_demo/.ipynb_checkpoints/
/Pytorch_Retinaface/widerface_evaluate/bbox.cpython-37m-x86_64-linux-gnu.so
/Pytorch_Retinaface/widerface_evaluate/box_overlaps.c
/Pytorch_Retinaface/weights/mobilenetV1X0.25_pretrain.tar
/Pytorch_Retinaface/weights/Resnet50_Final.pth
