pip>=20.1.1
xlrd
tox>=3.15.0
dlib>=19.3.0
numpy>=1.19.1
scipy
pandas>=0.25.3
face_recognition
Click>=7.1
opencv-python>=4.1.0
scikit-learn>=0.23.1
Unidecode
sqlalchemy
psycopg2
mysqlclient
cx-Oracle
pyodbc